<header role="banner">
  <div class="wrap">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <span>
    	<i class="fa fa-facebook" aria-hidden="true"></i> 
    		<a href="https://www.facebook.com/thedrunkfist">Facebook</a>
    </span>
    &nbsp; | &nbsp;
    <span>	
    	<i class="fa fa-instagram" aria-hidden="true"></i> 
    		<a href="https://www.instagram.com/thedrunkfist/">Instagram</a>
    </span>
    &nbsp; | &nbsp;
    <span>
    	<i class="fa fa-twitter" aria-hidden="true"></i> 
    	<a href="https://www.twitter.com/drunkyfist">Twitter</a>
    </span>
    <br clear="all">
    <br clear="all">
    <hr>
  </div>
</header>
