<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.body_class }}">
    {{ content }}
    {{ if site.logo}}
    <a href="{{ site.url }}/about" id="blog_badge">
      <span style="background-image: url('{{ site.logo }}')">{{ site.name }}</span>
    </a>
    {{/if}}
    <script src="{{ '/assets/javascripts/jquery.min.js' }}"></script>
    <script src="{{ '/assets/javascripts/main.js'  }}"></script>

    {% include google-analytics.html %}
    

  </body>
</html>
