<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.body_class }}">
    {{ content }}
    {{ if site.logo}}
    <a href="{{ site.url }}/about" id="blog_badge">
      <span style="background-image: url('{{ site.logo }}')">{{ site.name }}</span>
    </a>
    {{/if}}
    <script src="{{ '/assets/javascripts/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascripts/main.js' | prepend: site.baseurl }}"></script>
    
    <!-- RealTime hit counter back in the day would cost $500 haha oh happy days -->
    <div class="realtimeuserscounter realtimeuserscounter--styled"></div>
    <script src="https://realtimeusers.bycontrast.co/realtimeusers.js"></script>

  </body>
</html>
